.login-container {
  height: 100vh;
  background-color: #000000;
  .ant-card {
    background-color: #000000;
    border: 2px solid white;
    border-radius: 20px;

    .ant-form-item-required {
      color: white;
    }
  }

  .login-box {
    .logo-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        width: 50%;
      }
    }
  }
}
