.bank-button-MBB {
  background: yellow;
}

.bank-button-AFFIN {
  background: #0064c8 !important;
  color: white;
}

.bank-button-CIMB {
  background: #ff0000 !important;
}

.bank-button-HLB {
  background: #002147 !important;
  color: yellow;
}

.bank-button-ISLAM {
  background: #5f5f5f !important;
  color: white;
}

.bank-button-PBB {
  background: white !important;
  color: red;
}

.bank-button-PMY {
  background: #1dbecf !important;
}

.bank-button-RHB {
  background: #0066b5 !important;
  color: yellow;
}
